.array-bar {
    width: 5px;
    display: inline-block;
    margin: 0 1px;
    transition: all, .9s, step-end, ease-in-out;
    transition-timing-function: ease;
}

.array-container {
    position: absolute;
    left: 200px;
    top: 200px;
}
